@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:600,700&display=swap');
// @import url('https://use.typekit.net/wjl0zeh.css');
@import 'helpers';

body {
  margin: 0px;
  min-height: 100vh;
  font-size: 5.8vw;

  // animation-timing-function: ease;
  // animation-direction: normal;
  // animation-iteration-count: 1;
  // animation-fill-mode: forwards;
  // animation-play-state: running;
  // animation: brightin 0.6s;
  background:#fff;
  transition: background 3.0s ease;
}
canvas{
  background:transparent;
}
#main{
  opacity: 0.7;
  overflow: hidden;
}
#logo {
  z-index: 500;
  top: 20px;
  left: 20px;
  width: 178px;
  height: 55px;
  margin: 0px;

  opacity: 0.8;
  // filter: blur(2px);
  background: transparent url('../assets/images/shuniologo_w.svg') center center no-repeat;
  transition: all 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
      // filter: blur(0px);
      // filter: none;
    }
  }
}
h1 {
  font-family: 'IBM Plex Serif', serif;
  // font-family: sofia-pro-soft, sans-serif;

  margin: 0px;
  width: 95vw;
  font-weight:600;
  // font-size: 5.8vw;
  font-size:100%;
  line-height: 1.4em;

  text-align: center;
  // font-style: italic;
  color: #fff;
  transform-origin: 50% -100px;
    
  span {
    filter: blur(12px);
  }

  // @media screen and (orientation:portrait){
  //   font-size: 6.4vw;
  //   line-height: 8vw;
  //   margin-top: -40%;
  // }
}

@import 'gradients';

